<div class="d-flex flex-row split">
    <div class=" flex-fill">
        <div class=" d-flex flex-column align-items-center justify-content-center h-75">
            <div>
                <h1 class="fw-bold title">Ryuku Airlines</h1>
                <h5 class="fw-bold title">We go above and beyond</h5>
                <div class=" bg-primary">
                    <img src="/assets/aircraft.png">
                </div>
            </div>

        </div>
    </div>
    <div class="bg-dark left">
        <app-login></app-login>
    </div>
</div>