<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" style="width: 200px">

            <div class="   fs-4 d-flex justify-content-center ">

                <h4 class="  fw-bold">Admin</h4>
            </div>
            <!-- <hr />
            <div class="d-flex justify-content-center ">
                <h4>Menu</h4>
            </div> -->
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a (click)='flights()' class="nav-link text-white" [ngClass]="flightsClicked ? 'active' : ''">
                        <i class=" fa fa-dashboard "></i><span class=" ms-2 ">Flights</span>
                    </a>
                </li>
                <li class=" nav-item ">
                    <a (click)='bookings()' class=" nav-link text-white " aria-current=" page " [ngClass]="bookingClicked ? 'active' : ''">
                        <i class=" fa fa-home "></i><span class=" ms-2 ">Bookings</span>
                    </a>
                </li>
            </ul>
            <hr />
            <a class=" nav-link text-white ">
                <img src=" " /> <i class=" fa fa-bookmark "></i><span class=" ms-2 ">Logout</span>
            </a>
        </div>
    </div>
    <div id=" page-content-wrapper ">
        <div class=" page-content ">
            <nav class=" navbar navbar-dark bg-theme bg-dark ">
                <div class=" container-fluid ">
                    <a class=" navbar-brand " href=" # ">
                        <span class=" fs-4 fw-bold ">Ryuku Airlines</span>
                    </a>
                </div>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>