<div class=" d-flex row w-100 body">
    <div class="d-flex flex-row align-items-stretch w-100 p-3">
        <div class=" d-flex w-75 ">
            <div class=" w-100 p-2 ">
                <h3 class="fw-bold"> Fight List</h3>
                <div class="border border-dark table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Code</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Dest</th>
                                <th scope="col">dept</th>
                                <th scope="col">arival</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let flight of flights; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{flight.flight_code}}</td>
                                <td>{{flight.origin_name}}</td>
                                <td>{{flight.dest_name}}</td>
                                <td>{{flight.depart_time.toDate().toDateString() +' | '+ flight.depart_time.toDate().toLocaleTimeString()}}</td>
                                <td>{{flight.arrival_time.toDate().toDateString()+' | '+ flight.arrival_time.toDate().toLocaleTimeString()}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" d-flex  w-25 flex-column  p-2">
            <div class="">
                <h3 class="fw-bold">Flight search</h3>
                <div class="border border-dark p-3">

                    <!--  
                        This should be a form to be auto filled when user clicks on a flight
                        then display flight details

                        or

                        A flight search board
                    
                    -->

                    <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker>
                    <div class="mb-1 w-25">
                        <label for="formGroupExampleInput" class="form-label">Origin</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="code" disabled="true">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput2" class="form-label">Destination</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput" class="form-label">Departure Time</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput2" class="form-label"> label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
                    </div>
                    <div class="container">

                    </div>
                </div>
                <div class="">
                    <div class="border border-dark h-100">
                        <button>
                            Search
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>