<div class=" d-flex row w-100 body">
    <div class="d-flex flex-row align-items-stretch w-100 p-3">
        <div class=" d-flex w-75 ">
            <div class=" w-100 p-2 ">
                <h3 class="fw-bold"> Fight List</h3>
                <div class="border border-dark table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Dest</th>
                                <th scope="col">dept</th>
                                <th scope="col">arival</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" d-flex  w-25 flex-column  p-2">
            <div class="">
                <h3 class="fw-bold"> Create Flight</h3>
                <div class="border border-dark p-3">



                    <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker>
                    <div class="mb-1 w-25">
                        <label for="formGroupExampleInput" class="form-label">Origin</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="code" disabled="true">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput2" class="form-label">Destination</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput" class="form-label">Departure Time</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
                    </div>
                    <div class="mb-1">
                        <label for="formGroupExampleInput2" class="form-label"> label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
                    </div>
                    <div class="container">

                    </div>
                </div>
                <div class="">
                    <h3 class="fw-bold"> Cancel Flight</h3>
                    <div class="border border-dark h-100">
                        <button>
                            Cancel
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>