<div class=" d-flex row w-100 body">
    <div class="d-flex flex-row align-items-stretch w-100 p-3">
        <div class=" d-flex w-75 ps-3">
            <div class=" w-100 p-2 ">
                <h3 class="fw-bold"> Fight List</h3>
                <div class="border border-dark table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <!-- <th scope="col">Index</th> -->
                                <th scope="col">Code</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Depart Time</th>
                                <th scope="col">Arrival Time</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container id="userFlightRows" *ngFor="let flight of flights">
                                <tr *ngIf="flight.status == 'Available' ">
                                    <!-- <th scope="row">{{i+1}}</th> -->
                                    <td>{{flight.flight_code}}</td>
                                    <td>{{flight.origin_name}}</td>
                                    <td>{{flight.dest_name}}</td>
                                    <td>{{flight.depart_time.toDate().toDateString() +' | '+ flight.depart_time.toDate().toLocaleTimeString()}}
                                    </td>
                                    <td>{{flight.arrival_time.toDate().toDateString()+' | '+ flight.arrival_time.toDate().toLocaleTimeString()}}
                                    </td>

                                    <!-- Please change parameters in addBookingToUser - currently a testing purpose code -->
                                    <td *ngIf="{code: flight.flight_code} as variable">
                                        <button id="bookFlightBtn" type="button" class="btn btn-primary" *ngIf="authService.userData as user" (click)="addBookingToUser(variable.code, user.uid)">
                                            Book
                                            Flight</button>
                                    </td>
                                    <!-- <td>
                                        <button type="button" class="btn btn-primary" >Book Flight</button>
                                    </td> -->
                                </tr>
                            </ng-container>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" d-flex  w-25 flex-column  p-2">
            <h3 class="fw-bold">Flight search</h3>
            <div class="border border-dark p-3">

                <form class="row g-3" [formGroup]="flightForm">
                    <div class="col-12 ">
                        <label for="inputAddress" class="form-label">Origin</label>
                        <input type="text" class="form-control" id="inputAddress" formControlName="origin" placeholder="Cebu, Philippines ">
                    </div>
                    <div class="col-12 ">
                        <label for="inputAddress2" class="form-label">Destination</label>
                        <input type="text" class="form-control" id="inputAddress2" formControlName="destination" placeholder="Tokyo, Japan">
                    </div>

                    <div class="col-3 ">
                        <button id="searchFlightBtn" type="submit" class="btn btn-primary" (click)="searchFlights()">Search</button>
                    </div>
                    <div class="col-9 d-flex align-items-center  ">
                        <label class="text-danger">{{errorFormInput}}</label>
                    </div>
                </form>

            </div>
        </div>
    </div>