<div class="d-flex  align-items-center justify-content-center h-75 ">
    <div class="d-flex flex-column " style="width: 30%;">
        <h2 class="fw-bold text-light">Register</h2>
        <form class="text-light">
            <div class="mb-3 mt-3">
                <!-- <label for="email" class="form-label">Email:</label> -->
                <input type="email" class="form-control " id="email" placeholder="Email" name="email">
            </div>
            <div class="mb-3">
                <!-- <label for="pwd" class="form-label">Password:</label> -->
                <input type="password" class="form-control " id="pwd" placeholder="Password" name="pswd">
            </div>
            <div class="mb-3">
                <!-- <label for="pwd" class="form-label">Password:</label> -->
                <input type="password" class="form-control " id="pwd" placeholder="Confirm Password" name="pswd">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>

            <h6 class="pt-4">Back to login</h6>
        </form>
    </div>
</div>