<div class=" d-flex row w-100 body">
    <div class="d-flex flex-row align-items-stretch w-100 p-3">
        <div class=" d-flex w-75 ps-3">
            <div class=" w-100 p-2 ">
                <h3 class="fw-bold"> Fight List</h3>
                <div class="border border-dark table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Arival</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>

                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@mdo</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" d-flex  w-25 flex-column  p-2">
            <div class="">
                <h3 class="fw-bold"> Create Flight</h3>
                <div class="border border-dark p-3">

                    <form class="row g-3" [formGroup]="createFlightForm">
                        <div class="col-6 ">
                            <label for="inputEmail4" class="form-label">Flight Code</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="1234" disabled>
                        </div>
                        <div class="col-12 ">
                            <label for="inputAddress" class="form-label">Origin</label>
                            <input type="text" class="form-control" id="inputAddress" formControlName="origin" placeholder="Cebu, Philippines ">
                        </div>
                        <div class="col-12 ">
                            <label for="inputAddress2" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="inputAddress2" formControlName="destination" placeholder="Tokyo, Japan">
                        </div>
                        <div class="col-md-6 ">
                            <label for="inputCity" class="form-label">Departure</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="departureDate" placeholder="07/02/2022">
                        </div>
                        <div class="col-md-6 ">
                            <label style="visibility:hidden" for="inputCity" class="form-label">Date</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="departureTime" placeholder="13:35">
                        </div>
                        <div class="col-md-6 ">
                            <label for="inputEmail4" class="form-label">Arival</label>
                            <input type="text" class="form-control" id="inputEmail4" formControlName="arivalDate" placeholder="07/02/2022">
                        </div>
                        <div class="col-md-6 ">
                            <label style="visibility:hidden" for="inputPassword4" class="form-label">time </label>
                            <input type="text" class="form-control" id="inputPassword4" formControlName="arivalTime" placeholder="15:35">
                        </div>
                        <div class="col-12 ">
                            <button type="submit" class="btn btn-primary" (click)="formTest()">Create</button>
                        </div>
                    </form>
                </div>

                <div class=" ">
                    <h3 class="fw-bold pt-3"> Cancel Flight</h3>
                    <div class="border border-dark p-3 ">
                        <form class="row g-3">
                            <div class="col-6 ">
                                <label for="inputEmail4" class="form-label">Flight Code</label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="1234" disabled>
                            </div>
                            <div class="col-12 ">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>