<div class=" d-flex row w-100 body">
    <div class="d-flex flex-row align-items-stretch w-100 p-3">
        <div class=" d-flex w-75 ps-3">
            <div class=" w-100 p-2 ">
                <h3 class="fw-bold" id="flight-label"> Fight List</h3>
                <div class="border border-dark table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-responsive table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Departure</th>
                                <th scope="col">Arival</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="adminUserlist" *ngFor="let flight of flights; let i = index">

                                <td class="code">{{flight.flight_code}}</td>
                                <td class="origin">{{flight.origin_name}}</td>
                                <td class="dest">{{flight.dest_name}}</td>
                                <td>{{flight.depart_time.toDate().toDateString() +' | '+ flight.depart_time.toDate().toLocaleTimeString()}}
                                </td>
                                <td>{{flight.arrival_time.toDate().toDateString()+' | '+ flight.arrival_time.toDate().toLocaleTimeString()}}
                                </td>
                                <td [ngClass]="flight.status == 'Available' ? 'text-success': 'text-danger' ">
                                    {{flight.status}}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" d-flex  w-25 flex-column  p-2">
            <div class="">
                <h3 class="fw-bold" id="create-label"> Create Flight</h3>
                <div class="border border-dark p-3">

                    <form class="row g-3" [formGroup]="flightForm">
                        <div class="col-6 ">
                            <label id="flightCode" for="inputEmail4" class="form-label">Flight Code</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="{{flightCode}}" disabled>
                        </div>
                        <div class="col-12 ">
                            <label id="origin" for="inputAddress" class="form-label">Origin</label>
                            <input type="text" class="form-control" id="inputAddress" formControlName="origin" placeholder="Cebu, Philippines ">
                        </div>
                        <div class="col-12 ">
                            <label id="destination" for="inputAddress2" class="form-label">Destination</label>
                            <input type="text" class="form-control" id="inputAddress2" formControlName="destination" placeholder="Tokyo, Japan">
                        </div>
                        <div class="col-md-6 ">
                            <label id="departure" for="inputCity" class="form-label">Departure</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="departureDate" placeholder="07/02/2022">
                        </div>
                        <div class="col-md-6 ">
                            <label id="date" style="visibility:hidden" for="inputCity" class="form-label">Date</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="departureTime" placeholder="13:35">
                        </div>
                        <div class="col-md-6 ">
                            <label id="arrival" for="inputEmail4" class="form-label">Arrival</label>
                            <input type="text" class="form-control" id="inputEmail4" formControlName="arivalDate" placeholder="07/02/2022">
                        </div>
                        <div class="col-md-6 ">
                            <label style="visibility:hidden" for="inputPassword4" class="form-label">time </label>
                            <input type="text" class="form-control" id="inputPassword4" formControlName="arivalTime" placeholder="15:35">
                        </div>
                        <div class="col-3 ">
                            <button type="submit" class="btn btn-primary" id="addFlightBtn" (click)="addFlightToDB()">Create</button>
                        </div>
                        <div class="col-9 d-flex align-items-center  ">
                            <label class="text-danger">{{errorFormInput}}</label>
                        </div>
                    </form>
                </div>

                <div class=" ">
                    <h3 class="fw-bold pt-3" id="cancel-flight-label"> Cancel Flight</h3>
                    <div class="border border-dark p-3 ">
                        <form class="row g-3">
                            <div class="col-6 ">
                                <label for="inputEmail4" class="form-label">Flight Code</label>
                                <input #term type="email" class="form-control" id="SearchflightCode" placeholder="Code">
                            </div>
                            <div class="col-6 ">

                            </div>
                            <div class="col-3  ">
                                <button type="submit" class="btn btn-danger" id="cancelFlightBtn" (click)="cancelFlight(term.value)">Cancel</button>
                            </div>
                            <div class="col-9  d-flex align-items-center ">
                                <label class="text-danger">{{errorCodeInput}}</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>